In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('E:\\working_DATA\\Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
X = df.iloc[:, 1:4]
y = df.iloc[:, 4]

In [4]:
X=pd.get_dummies(X,drop_first=True)
X.head()

   Age  EstimatedSalary  Gender_Male
0   19            19000            1
1   35            20000            1
2   26            43000            0
3   27            57000            0
4   19            76000            1

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=42)

In [12]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
     ---------------------------------------- 99.8/99.8 MB 6.7 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\dines\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\dines\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3

In [29]:
from xgboost import XGBClassifier
xg=XGBClassifier()

In [35]:
from sklearn.model_selection import GridSearchCV

para=dict()
para['n_estimators']=[10,40,100,500]
para['max_depth']=[3,4,6,8]
para['learning_rate']=[0.01,0.1,0.3,0.001]
para['n_jobs']=[-1]
para['gamma']=[0.1,0.2,0.3]
grid=GridSearchCV(xg,param_grid=para,cv=10 ,scoring='accuracy')
grid.fit(X_train,y_train)

GridSearchCV(cv=10,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, device=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     feature_types=None, gamma=None,
                                     grow_policy=None, importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None...
                                     max_delta_step=None, max_depth=None,
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     multi_strategy=None, n_estimators=None,
                                     n_jobs=None, num_parallel_tree=None,
                                     random_state=None, ...),
             param_grid={'gamma': [0.1, 0.2, 0.3],
                         'learning_rate': [0.01, 0.1, 0.3, 0.001],
                         'max_depth': [3, 4, 6, 8],
                         'n_estimators': [10, 40, 100, 500], 'n_jobs': [-1]},
             scoring='accuracy')

In [39]:
grid.best_params_

{'gamma': 0.1,
 'learning_rate': 0.1,
 'max_depth': 3,
 'n_estimators': 10,
 'n_jobs': -1}

In [36]:
y_pred=grid.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test,y_pred)

0.92

In [38]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.90      0.93        63
           1       0.85      0.95      0.90        37

    accuracy                           0.92       100
   macro avg       0.91      0.93      0.92       100
weighted avg       0.92      0.92      0.92       100