In [14]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv('E:\\working_DATA\\gold_price_data.csv')
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [16]:
X=df.drop(['Date','GLD'],axis=1)
y=df['GLD']

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=42)

In [20]:
X_train.head()

              SPX        USO        SLV   EUR/USD
207    890.640015  30.200001  10.820000  1.414007
1684  1867.609985  12.730000  13.990000  1.155095
1210  1640.459961  36.410000  18.420000  1.287101
1386  1842.979980  37.389999  18.879999  1.381196
162    908.109985  56.599998   9.380000  1.262993

In [21]:
X_test.head()

              SPX        USO        SLV   EUR/USD
2178  2602.419922  11.790000  16.080000  1.185396
1271  1752.069946  34.990002  21.870001  1.380396
1268  1744.660034  35.939999  21.410000  1.367596
44    1304.339966  83.889999  20.075001  1.538509
2025  2381.919922  11.170000  16.799999  1.053585

In [22]:
y_train

207      85.900002
1684    109.160004
1210    119.510002
1386    125.489998
162      70.650002
           ...
1638    112.839996
1095    162.020004
1130    152.619995
1294    119.459999
860     169.399994
Name: GLD, Length: 1717, dtype: float64

In [23]:
y_test

2178    122.320000
1271    129.899994
1268    126.980003
44       96.500000
2025    117.580002
           ...
519     119.360001
308      93.830002
1783    108.050003
59       91.879997
590     126.199997
Name: GLD, Length: 573, dtype: float64

In [18]:
from xgboost import XGBClassifier,XGBRegressor
xg=XGBRegressor()
xg.fit(X_train,y_train)
y_pred=xg.predict(X_test)

In [25]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
r2_score(y_pred,y_test)

0.9898525108824456

In [26]:
mean_squared_error(y_pred,y_test)

5.472870606207697

In [27]:
mean_absolute_error(y_pred,y_test)

1.366890418918044