In [1]:
import pandas as pd
import numpy as np

In [35]:
df=pd.read_csv('E:\\working_DATA\\loan_pred.csv')

In [36]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [37]:
X=df.iloc[:,0:12]
y=df.iloc[:,12]

In [38]:
X=pd.get_dummies(X,drop_first=True)
X.head()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_ Not Graduate,self_employed_ Yes
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1

In [39]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
y=lb.fit_transform(y)

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=42)

In [41]:
from xgboost import XGBClassifier
xg=XGBClassifier(n_estimators=60,learning_rate=0.01,max_depth=4,gamma=0.3)

In [42]:
# from sklearn.model_selection import GridSearchCV
# para=dict()
# para['n_estimators']=[10,20,50,200]
# para['learning_rate']=[0.1,0.01,0.001,0.0001,0.3]
# para['subsample']=[0,0.2,0.4,0.6,0.1]
# para['max_depth']=[2,5,8]

# grid=GridSearchCV(xg,param_grid=para,cv=10,scoring='accuracy',n_jobs=1)
xg.fit(X_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=0.3, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.01, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=4, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=60, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [43]:
y_pred=xg.predict(X_test)

In [44]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test,y_pred)

0.9691011235955056

In [45]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.99      0.98       678
           1       0.99      0.93      0.96       390

    accuracy                           0.97      1068
   macro avg       0.97      0.96      0.97      1068
weighted avg       0.97      0.97      0.97      1068